html, body {
    margin: 0;
    padding: 0;
    user-select: none;
}
body {
    position: relative;
}
canvas {
    display: block;
}

.inventory {
    z-index: 1;
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    margin: auto;
    background-color: rgba(38, 38, 38, 0.786);
    border: 3px solid black;
    border-radius: 5%;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.728);
    display: grid;
    align-items: center;
    grid-auto-flow: row;
    grid-auto-rows: 25%; /* play with this to change height of the children, 50% will fill half */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: unset;
    grid-gap: 20px;
    overflow-y: scroll;
    justify-content: center;
    visibility: hidden;
    padding-top: 80px;
}

.inventoryTitle {
    z-index: 2;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    color: rgba(255, 255, 255, 0.81);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.193);
    visibility: hidden;
}

.inventoryHelper {
    z-index: 2;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 80px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    color: rgba(211, 211, 211, 0.81);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.193);
    visibility: hidden;
}

.itemHolder {
    background-color: rgb(31, 31, 31);
    min-width: 125px;
    min-height: 150px;
    width: fit-content;
    height: fit-content;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.itemImage {
    max-width: 100px;
    max-height: 100px;
}
.itemCount {
    position: absolute;
    bottom: 2px;
    right: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
}

.inventory::-webkit-scrollbar {
    width: 5px;
}
.inventory::-webkit-scrollbar-track {
    background: transparent;
}
.inventory::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.81);
    -webkit-border-radius: 10px;
}
.inventory::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 40px; 
}
.inventory::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 40px;
}

.selected {
    border: 3px solid rgba(255, 0, 0, 0.81);
}